/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --body-color: #f5f5f9;
    --sidebar-color: #ffffff;
    --primary-color: #696cff;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}

body.dark{
    --body-color: #232333;
    --sidebar-color: #2b2c40;
    --primary-color:#696cff;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #a3a3b4;
}

/* ===== Sidebar ===== */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow effect to the right side */
}


.sidebar.close{
    width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    margin-left: -30px;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}
/* =========================== */

.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 40px;
}

.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: white;
}

.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon{
    height: 50px;
    width: 60px;
}

.mode .sun-moon i{
    position: absolute;
}
.mode .sun-moon i.sun{
    opacity: 0;
}
body.dark .mode .sun-moon i.sun{
    opacity: 1;
}
body.dark .mode .sun-moon i.moon{
    opacity: 0;
}
.menu-bar .bottom-content {
    margin-left: 28px;
}
.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before{
    left: 20px;
}
body.dark .layout-navbar{
    background-color: #2a2b3f;
}
.layout-navbar {
    position: absolute;
    top: 0;
    left: 280px; /* Adjust the left property to match the width of the sidebar */
    background-color: white;
    margin-top: 12px;
    margin-bottom: 20px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    height: 65px;
    border-radius: 9px;
    width: calc(100% - 300px); /* Adjust the width considering left and right margins */
    transition: background-color 0.3s ease;
    transition: var(--tran-05);
}
.sidebar.close ~ nav .layout-navbar {
    left: 110px;
    width: calc(100% - 130px);
}
nav .content {
    margin-top: 11px;
    gap: 40px;
}
.content i{
    color: var(--text-color);
    cursor: pointer;
}
.toggle {
    margin-right: 830px;
    transition: var(--tran-05);
}
.sidebar.close ~ nav .toggle {
    margin-right: 940px;
    transition: var(--tran-05);
}
body.dark .dark-light{
    color: var(--text-color);
    transition: var(--tran-05);
}

.dark-light i{
    margin-top: -10px;
    position: absolute;
    color: var(--text-color);
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.dark-light i.sun{
    opacity: 0;
    pointer-events: none;
}
.dark-light.active i.sun{
    opacity: 1;
    pointer-events: auto;
}
.dark-light.active i.moon{
    opacity: 0;
    pointer-events: none;
}
.dark-light {
    cursor: pointer;
}
.bro{
    width: 42px; /* Set the desired width */
    height: 42px; /* Set the desired height */
    border-radius: 50%; /* Make it a circle */
    object-fit: cover; /* Maintain aspect ratio */
    border: none; /* Optional: Add a border */
    margin-right: 15px;
}

body.dark {
    background-color: var(--body-color);
}


.main-content{
    position: absolute;
    top: 113px;
    left: 290px;
    height: 100vh;
    width: calc(100% - 310px);
    transition: var(--tran-05);
}
.main-content h1{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close ~ .main-content{
    height: 100vh;
    left: 122px;
    width: calc(100% - 142px);
}
body.dark .main-content h1{
    color: var(--text-color);
}

.profile img {
    width: 42px; /* Set the desired width */
    height: 42px; /* Set the desired height */
    border-radius: 50%; /* Make it a circle */
    object-fit: cover; /* Maintain aspect ratio */
    border: none; /* Optional: Add a border */
    margin-right: 15px;
    cursor: pointer;
}

.menuaw {
    right: 0;
    visibility: hidden; /* Initially hide the menu */
    opacity: 0;
    transition: visibility 0s, opacity 0.5s; /* Add visibility to the transition */
}

.menuaw.active {
    visibility: visible;
    opacity: 1;
}

  .username {
    margin-top:-50px;
  }
  .username h4 {
    margin-top:10px;
    color: var(--grey-color);
  }
 
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto');
*{
 margin:0;
 padding: 0;
 outline: 0;
}

table{
width: 100%;
 border-collapse: collapse;
 border-spacing: 0;
 box-shadow: 0 2px 15px rgba(64,64,64,.7);
 border-radius: 12px 12px 0 0;
 overflow: hidden;
}

td , th{
 padding: 15px 20px;
}
td .synopsis1 {
    background-color: #2b2c40;
    color: gray;
    transition: var(--tran-05);
}
th{
 background-color: #a19b9b2f;
 color: black;
 font-family: 'Open Sans',Sans-serif;
 font-weight: 200;
 text-transform: uppercase;
}
body.dark th {
    background-color: #222335;
    color: white;
    transition: var(--tran-05);
}
body.dark tr {
    background-color: #2b2c40;
    color: gray;
    transition: var(--tran-05);
}
tr{
 width: 100%;
 background-color: #fafafa;
 font-family: 'Montserrat', sans-serif;
}
tr:nth-child(even){
 background-color: #eeeeee;
}
.dropdown22 .dropdown-menu {
    padding-left: 30px;
}

/*
   ini content

.home{
    position: absolute;
    top: 70px;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close ~ .home{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}
body.dark .home .text{
    color: var(--text-color);
}
*/